[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
pydantic = "*"
aiopg = "*"
boto3 = "*"
requests = "*"
requests-aws4auth = "*"
requests-futures = "*"
databases = "*"
asyncpg = "*"
passlib = "*"
pyjwt = {extras = ["crypto"], version = "*"}
uvicorn = "*"
python-multipart = "*"
numpy = "*"
celery = {extras = ["redis"], version = "*"}
flower = "*"
cbpro = "*"
nest-asyncio = "*"
python-jose = "*"
pandas = "*"
elasticsearch = "<7.14.0"
gunicorn = "*"

[requires]
python_version = "3.8"
